<%= form_for(@blog) do |f| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% @blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div><%= f.label :Title %>
<%= f.text_field :title %></div><br>

<div><%= f.label :Short_description %>
<%= f.text_field :short_description %></div><br>
<div><%= f.label :Description %>
<%= f.text_area :description , :size => "30x5"%></div><br>
<div><%= f.label :Author %>
<%= f.text_field :author %></div><br>
<div><%= f.label :Category %>
<%= f.text_field :category %></div><br>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
