

<br><br><br><br><br><br><br><br>
<html>
<h3 align="center">Transaction</h3>
<div align=center>
<%= form_for :transaction ,:url=>{:action=>'create',:id=>params[:id]} do |f|%><br/>
<%= f.hidden_field :id %>
Type of Card*
<%= f.select:card_type, Transaction::TYPE %><br />
<br />
First Name*
<%=f.text_field:first_name %><br />
<br />
Last Name*
<%=f.text_field:last_name %><br />
<br />
Amount
<%=f.text_field:amount %><br />
<br />
Card Number
<%=f.text_field:card_number %><br />
<br />
 Card Verification*
<%=f.text_field:card_verification%><br />
<br />
Card Date*
<%=f.date_select :card_date,:start_year => 1960,:end_year =>3000,:prompt => :'select',:order => [:day, :month, :year] %>
<br />
<br />
<%= f.submit 'Place Order'%>
<% end %>
</div>
</html>
